{% layout "layout.liquid" %}
{% block content %}
<link rel="stylesheet" href="/css/new.css">


<div class="container">
<form action="/animals" method="POST">

<fieldset>
<legend>Add a New Animal</legend>
    <label>Species: <input type="text" name="species" placeholder="Cat or Dog or Other"></label>
    <label>Name: <input type="text" name="name" placeholder="Name of Animal"></label>
    <label>Image: <input type="text" name="img" placeholder="Add Image"></label>
    <label>Gender: <input type="text" name="gender" placeholder="Gender"></label>
    <label>Age: <input type="text" name="age" placeholder="Age"></label>
    <label>Breed: <input type="text" name="breed" placeholder="Add Animal Breed"></label>
    <label>Neutered/Spayed: <input type="text" name="neutered/spayed" placeholder="Neutered or Spayed?" ></label>
    <label>On-Hold: <input type="text" name="on-hold" placeholder="Pending foster?"></label>
    <input type="submit" value="Submit New Animal">
</fieldset>

</form>
</div>
<div class="text-center">
    <a href ="/animals">Back to All Animals</a>
</div>



{% endblock %}
