.btn-custom{
margin: 1px;
}

.show-page {
    background-color: #D0E8F2;
}

.icons{
    display:flex; 
    justify-content: right;
    margin-right: 10px;
}
.animal-title{
    margin: 20px;
    padding-bottom: 25px;
}

.animal-page {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   }

.animal-content {
    margin: 20px;
    width: 30%;
    text-align: left;
    padding-top: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bbb,
                -1px -1px 10px #bbb,
                1px -1px 10px #bbb,
                -1px 1px 10px #bbb;
        
}


.animal-content ul{
       list-style-type: none;
       margin-left: 9%;
   }

.show-footer{
    margin:5%;
    text-align: center;
}

.list-items{
    padding-left: 20%;
}