.btn-custom{
margin: 1px;
}

.icons{
    display:flex; 
    justify-content: right;
    margin-right: 10px;
}
.animal-title{
    margin: 20px;
    padding-bottom: 25px;
}

.animal-page {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   }

.animal-content {
    margin: 20px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

.animal-content ul{
       list-style-type: none;
       margin-left: 9%;
   }

.show-footer{
    margin:5%;
    text-align: center;
}

