{% layout "layout.liquid" %}
{% block content %}

<style>
body {
  background-color: #D0E8F2;
}
    .container {
    margin-top: 5%;
}
legend {
    padding: 0px 10px; 
    margin: 20px;
    font-weight: 500;
}

form {
    margin-top: 10%;
}

fieldset {
    background-color: #A4EBF3;
    border: 1px solid #ccc;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #bbb,
                -1px -1px 10px #bbb,
                1px -1px 10px #bbb,
                -1px 1px 10px #bbb;
}
label {
    display: block;
}
input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
</style>

<body>
    
        <form action="/user/signup" method="post">
        <fieldset>
        <legend>New User</legend>
        <label>
            Username: <input type="text" name="username" required/> 
        </label>
        <label>
            Password: <input type="password" name="password" required/>
        </label>
        <input type="submit" value="Create Account"/>
        </fieldset>
        
        </form>
    
</body>

{% endblock %}